
.profile {
    position: absolute;
    width: 47%;
    height: 30%;
    left: 51%;
    top: 15%;
    background: #C4C4C4;
    border-radius: 20px;
}

.information{

    position: absolute;
    width: 47%;
    height: 82%;
    left: 2%;
    top: 15%;
    
    background: #C4C4C4;
    border-radius: 20px;
}

.groups{

    position: absolute;
    width: 47%;
    height: 48%;
    left: 51%;
    top: 49%;
    
    background: #C4C4C4;
    border-radius: 20px;
}

.row:after{
    display: table;
}

.welcome{
    float: right;
    color: green;
    width: 100%;
    text-align: right;

}